<div class='card'>

    <div class='card-header'>
        {{ dinoTitle }}
    </div>

    <div class='card-body'>

        <div class="row">
            <div class="col-md-2">Filter by:</div>
            <div class="col-md-4">
                <input type="text" [(ngModel)]="listFilter" />
            </div>

            <div class="col">
                <div class="col-md-6">Filtered by: {{ listFilter }}</div>
            </div>
            
            <div class="table-responsive">
                <table class="table" *ngIf="dinosaurs && dinosaurs.length">
                    <thead>
                        <tr>
                            <th>
                                <button class="btn btn-primary" (click)='toggleImage()'>
                                    {{ showImage ? 'Hide' : 'Show' }} Image
                                </button>
                            </th>
                            <th>Species</th>
                            <th>Height</th>
                            <th>Weight</th>
                            <th>Source of Food</th>
                            <th>Star Rating</th>
                        </tr>
                    </thead>

                    <tbody>

                        <tr *ngFor="let dino of filtered">
                            <td>
                                <img *ngIf='showImage'
                                    [src]='dino.imageUrl'
                                    [title]='dino.species'
                                    [style.width.px]='imageWidth'
                                    [style.margin.px]='imageMargin'>
                            </td>
                            <td>{{ dino.species }}</td>
                            <td>{{ dino.height }}</td>
                            <td>{{ dino.weight }}</td>
                            <td>{{ dino.foodSource }}</td>
                            <td>
                                <app-star [rating]="dino.starRating"></app-star>
                            </td>

                        </tr>



                    </tbody>


                </table>
            </div>


        </div>

    </div>

</div>